<div class="main__container">
    <div class="aside">
        <div class="logo">
            <a href="#">
                <span>в</span>ладимир
            </a>
        </div>
        <div class="nav__toggler">
            <span>
            </span>
        </div>
        <ul class="nav">
            <li class="js-nav" routerLink="home"><div class="active"><i class=" home"><span>Главная</span></i></div></li>
            <li class="js-nav" routerLink="about"><div><i class="user"><span>Обо мне</span></i></div></li>
            <li class="js-nav" routerLink="ability"><div><i class="list"><span>Наыки</span></i></div></li>
            <li class="js-nav" routerLink="portfolio"><div><i class="briefcase"><span>Портфолио</span></i></div></li>
            <li class="js-nav" routerLink="contacts"><div><i class="comments"><span>Контакты</span></i></div></li>
        </ul>
    </div>
    <div class="main__content">

    </div>
</div>