<section id="home" class="home section " data-section="1">
    <div class="container">
        <div class="row">
            <div class="home__info padd__15">
                <h3 class="hello">Здравствуйте, меня зовут <br><span class="name">Федоров Владимир</span></h3>
                <h3 class="my__profession">Моя профессия <span class="typing">frontend разработчик</span></h3>
                <p>Я начинающий специалист</p>
                <div class="btn  js-btn  hire__me">Связатся со мной</div>
            </div>
            <div class="home__img padd__15">
                <div class="home__wrap">
                    <img [src]="img.Image" alt="">
                </div>
            </div>
        </div>
    </div>
</section>