<section id="portfolio" class="portfolio section" data-section="4">
    <div class="container">
        <div class="row">
            <div class="section__title ">
                <h2>Портфолио</h2>
            </div>
        </div>
        <div class="row">
            <div class="portfolio__title padd__15">
                <h2>Мои проекты</h2>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let site of sites" class="portfolio__item padd__15">
                <a href={{site.link}}>
                    <div class="portfolio__inner shadow__dark">
                        <div class="portfolio__img">
                            <img src={{site.screen}} alt="">
                        </div>
                        <div class="portfolio__wrap">
                            <h5>Сайт <span>{{site.screen}}</span></h5>
                            <div class="portfolio__text">{{site.description}}</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>