<section id="ability" class="ability section" data-section="3">
    <div class="container">
        <div class="row">
            <div class="section__title ">
                <h2>Навыки</h2>
            </div>
        </div>
        <div class="row dasctop">
            <div class="ability__item padd__15">
                <div class="ability__inner">
                    <div class="icon">
                        <i class="fa fa-mobile-alt"></i>
                    </div>
                </div>
                <h4>Web Desing</h4>
                <p>Lorem ipsum dolor sit amet consectetur </p>
            </div>
            <div class="ability__item padd__15">
                <div class="ability__inner">
                    <div class="icon">
                        <i class="fa fa-laptop-code"></i>
                    </div>
                </div>
                <h4>Web Desing</h4>
                <p>Lorem ipsum dolor sit amet consectetur </p>
            </div>
            <div class="ability__item padd__15">
                <div class="ability__inner">
                    <div class="icon">
                        <i class="fa fa-palette"></i>
                    </div>
                </div>
                <h4>Web Desing</h4>
                <p>Lorem ipsum dolor sit amet consectetur </p>
            </div>
            <div class="ability__item padd__15">
                <div class="ability__inner">
                    <div class="icon">
                        <i class="fa fa-code"></i>
                    </div>
                </div>
                <h4>Web Desing</h4>
                <p>Lorem ipsum dolor sit amet consectetur </p>
            </div>
            <div class="ability__item padd__15">
                <div class="ability__inner">
                    <div class="icon">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
                <h4>Web Desing</h4>
                <p>Lorem ipsum dolor sit amet consectetur </p>
            </div>
            <div class="ability__item padd__15">
                <div class="ability__inner">
                    <div class="icon">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                </div>
                <h4>Web Desing</h4>
                <p>Lorem ipsum dolor sit amet consectetur </p>
            </div>
        </div>
        <div class="swiper mobill ability__swiper mySwiper">
            <div class="swiper-wrapper ability__wrapper">
                <div class="swiper-slide ability__slide">
                    <div class="ability__item padd__15">
                        <div class="ability__inner">
                            <div class="icon">
                                <i class="fa fa-mobile-alt"></i>
                            </div>
                        </div>
                        <h4>Web Desing</h4>
                        <p>Lorem ipsum dolor sit amet consectetur </p>
                    </div>
                </div>
              <div class="swiper-slide ability__slide">
                <div class="ability__item padd__15">
                    <div class="ability__inner">
                        <div class="icon">
                            <i class="fa fa-laptop-code"></i>
                        </div>
                    </div>
                    <h4>Web Desing</h4>
                    <p>Lorem ipsum dolor sit amet consectetur </p>
                </div>
              </div>
              <div class="swiper-slide ability__slide">
                <div class="ability__item padd__15">
                    <div class="ability__inner">
                        <div class="icon">
                            <i class="fa fa-palette"></i>
                        </div>
                    </div>
                    <h4>Web Desing</h4>
                    <p>Lorem ipsum dolor sit amet consectetur </p>
                </div>
              </div>
              <div class="swiper-slide ability__slide">
                <div class="ability__item padd__15">
                    <div class="ability__inner">
                        <div class="icon">
                            <i class="fa fa-code"></i>
                        </div>
                    </div>
                    <h4>Web Desing</h4>
                    <p>Lorem ipsum dolor sit amet consectetur </p>
                </div>
              </div>
              <div class="swiper-slide ability__slide">
                <div class="ability__item padd__15">
                    <div class="ability__inner">
                        <div class="icon">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                    <h4>Web Desing</h4>
                    <p>Lorem ipsum dolor sit amet consectetur </p>
                </div>
              </div>
              <div class="swiper-slide ability__slide">
                <div class="ability__item padd__15">
                    <div class="ability__inner">
                        <div class="icon">
                            <i class="fa fa-bullhorn"></i>
                        </div>
                    </div>
                    <h4>Web Desing</h4>
                    <p>Lorem ipsum dolor sit amet consectetur </p>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>