<section id="ability" class="ability section" data-section="3">
    <div class="container">
        <div class="row">
            <div class="section__title ">
                <h2>Навыки</h2>
            </div>
        </div>
        <div class="row dasctop">
            <div *ngFor="let ability of abilities" class="ability__item padd__15">
                <div class="ability__inner">
                    <div class="icon">
                        <img src={{ability.screen}} alt="">
                    </div>
                </div>
                <h4>{{ability.abilityName}}</h4>
                <p>{{ability.description}}</p>
            </div>
        </div>
        <div  class="swiper mobill ability__swiper mySwiper">
            <div class="swiper-wrapper ability__wrapper">
                <div class="swiper-slide ability__slide">
                    <div *ngFor="let ability of abilities" class="ability__item padd__15">
                        <div class="ability__inner">
                            <div class="icon">
                                <img src={{ability.screen}} alt="">
                            </div>
                        </div>
                        <h4>{{ability.abilityName}}</h4>
                        <p>{{ability.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>