<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <div class="main__container">
        <div class="aside">
            <div class="logo">
                <a href="#">
                    <span>в</span>ладимир
                </a>
            </div>
            <div class="nav__toggler">
                <span>
                </span>
            </div>
            <mat-nav-list>
              <ul class="nav">
                  <li class="js-nav" mat-list-item [routerLink]="['home']"><div class="active"><i class=" home"><span>Главная</span></i></div></li>
                  <li class="js-nav" mat-list-item [routerLink]="['about']"><div><i class="user"><span>Обо мне</span></i></div></li>
                  <li class="js-nav" mat-list-item [routerLink]="['ability']"><div><i class="list"><span>Наыки</span></i></div></li>
                  <li class="js-nav" mat-list-item [routerLink]="['portfolio']"><div><i class="briefcase"><span>Портфолио</span></i></div></li>
                  <li class="js-nav" mat-list-item [routerLink]="['contacts']"><div><i class="comments"><span>Контакты</span></i></div></li>
              </ul>
            </mat-nav-list>
        </div>
        <div class="main__content">
    
        </div>
    </div>
    </mat-nav-list>


    

  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
