<section id="contacts" class="contacts section" data-section="5">
    <div class="container">
        <div class="row">
            <div class="section__title ">
                <h2>Контакты</h2>
            </div>
        </div>
        <div class="row">
            <div class="contacts__title">
                Мои соцсети
            </div>
        </div>
        <div class="contacts__links  padd__15">
            <div  class="row">
                <div *ngFor="let contact of contacts" class="contacts__item">
                    <a href={{contact.link}} Target = "_blank">
                        <img src={{contact.logo}} alt="">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="btn  js-btn  hire__me">Связатся со мной</div>
            </div>
        </div>
    </div>
</section>