<section id="contacts" class="contacts section" data-section="5">
    <div class="container">
        <div class="row">
            <div class="section__title ">
                <h2>Контакты</h2>
            </div>
        </div>
        <div class="row">
            <div class="contacts__title">
                Мои соцсети
            </div>
        </div>
        <div class="contacts__links  padd__15">
            <div class="row">
                <div class="contacts__item">
                    <a href="https://t.me/vladimir01099400" Target = "_blank">
                        <i class="fa-brands fa-telegram"></i>
                    </a>
                </div>
                <div class="contacts__item">
                    <a href="https://vk.com/v.fedorov94" Target = "_blank">
                        <i class="fa-brands fa-vk"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="btn  js-btn  hire__me">Связатся со мной</div>
            </div>
        </div>
    </div>
</section>