<section id="about" class="about section" data-section="2">
    <div class="container">
        <div class="row">
            <div class="section__title">
                <h2>
                    Обо мне
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="about__content padd__15">
                <div class="row">
                    <div class="about__text">
                        <h3>Я Владимир Федоров <span>frontend разработчик</span></h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident ad doloremque voluptate consequatur. Placeat nihil officia nam nostrum obcaecati error debitis exercitationem! Repellendus excepturi ipsum in ullam omnis ipsam esse.
                        </p> 
                    </div>
                </div>
                <div class="row">
                    <div class="personal__info padd__15">
                        <div class="row">
                            <div class="info__item">
                                <p>Дата рождения : <span>01 09 1994 года</span></p>
                            </div>
                            <div class="info__item">
                                <p>Возраст : <span>27</span></p>
                            </div>
                            <div class="info__item">
                                <p>Мой сайт : <span>www.resumevladimir.ru</span></p>
                            </div>
                            <div class="info__item">
                                <p>Email : <span>vladimir01099400@gmail.com</span></p>
                            </div>
                            <div class="info__item">
                                <p>Телефон : <span>+79081980202</span></p>
                            </div>
                            <div class="info__item">
                                <p>Город : <span>Санкт-Петербург</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="skill padd__15">
                        <div class="skill__wrap">
                            <div class="skill__item">
                                <h5>HTML</h5>
                            </div>
                            <div class="skill__item">
                                <h5>CSS</h5>
                            </div>
                            <div class="skill__item">
                                <h5>JS</h5>
                            </div>
                            <div class="skill__item">
                                <h5>JQuery</h5>
                            </div>
                        </div>
                        <div class="skill__text">Владею, если необходимо что-то ещё, с интернетом все могу.</div>
                    </div>
                </div>
                <div class="btn  js-btn  hire__me">Связатся со мной</div>
            </div>
        </div>
    </div>
</section>